// 重置
@import "~@fekit/mc-base";
// 源码样式
@import "~@fekit/mc-tinting/theme/mc-tinting@theme=vscode.scss";

html {
}

body {
  background: #f5f5f5;
  padding: 2%;
  font-size: 12px;
}

.btn {
  width: 100%;
  height: 2.5rem;
  line-height: 2.4rem;
  background: #2583ca;
  color: #fff;
  border: 1px solid rgba(0, 0, 0, .05);
  border-radius: 3px;
  text-align: center;
}


h1 {
  font-weight: bold;
  text-align: center;
}


.root {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  background: #fff;
  padding: 1rem;
}
